/**
 * Typography
 */

html,
body {
  font-family: $font-family;
  font-weight: $body-font-weight;
}

html {
  font-size: $basic-font-size;
}

body {
  font-size: $paragraph;
  line-height: $line-height;

}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 600;
}


html,
button,
input,
select,
textarea {
  //color: $text-color;
}

a {
  //color: $text-color;
  text-decoration: none;

  &:visited {
    outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
    text-decoration: underline;
    outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.br {
  display: block;
}


.button {
  background-color: $blueColor;
}

.outlet {
  width: calc(100% - 250px);
  padding: $paddingTopBottom30;
  background-color: $authBg;

}
