$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;
$body-font: $font-family;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight700: 700;
$body-font-weight: $fontWeight700;
$header-font: $font-family-title;
$basic-font-size: 100%;
$paragraph: 16px;
$line-height: 24px;

$authBg: #f7faff;
$greenColor: #b2e4d5;
$submissionReadColor: #1eb892;
$submissionNewColor: #ff6982;
$submissionNotFinishedColor: #f2994a;
$blueColor: #00a3ff;
$navbarActiveColor: #262f3f;
$selectedNavbarColor: #333;
$upColor: #dbe2ea;
$tableEvenColor: #d0e1ea;
$whiteColor: #fff;
$lightBlue: rgba(12, 167.255, 0.08);
$navbarColor: #131924;
$titleColor: rgba(0, 0, 0, 0.6);
$darkGrey: #898989;
$greyColor: #4f4f4f;
$lightGrey: #ececec;
$tableBorderColor: #bdbdbd;
$tablePaperColor: rgba(0, 0, 0, 0.25);
$sliderBox: rgba(0, 0, 0, 0.15);
$eventBox: rgba(0, 0, 0, 0.25);
$transparent: transparent;

$paddingTopBottom30: 30px;
$paddingLeftRight0: 0px;
$paddingTopBottom0: 0px;
$paddingTopBottom10: 10px;
$paddingTopBottom20: 20px;
$paddingLeftRight72: 72px;
$paddingLeftRight50: 50px;
$paddingLeftRight30: 30px;
$paddingLeftRight20: 20px;
$paddingLeftRight10: 10px;

$padding0: 0px;
$padding10: 10px;
$padding20: 20px;
$padding30: 30px;
$padding50: 50px;

$paddingTop0: 0px;
$paddingTop5: 5px;
$paddingTop10: 10px;
$paddingTop15: 15px;
$paddingTop20: 20px;
$paddingTop25: 25px;
$paddingTop30: 30px;
$paddingTop40: 40px;
$paddingTop50: 50px;

$paddingLeft0: 0px;
$paddingLeft5: 5px;
$paddingLeft10: 10px;
$paddingLeft15: 15px;
$paddingLeft20: 20px;
$paddingLeft25: 25px;
$paddingLeft30: 30px;
$paddingLeft40: 40px;
$paddingLeft50: 50px;

$paddingBottom0: 0px;
$paddingBottom5: 5px;
$paddingBottom10: 10px;
$paddingBottom15: 15px;
$paddingBottom20: 20px;
$paddingBottom25: 25px;
$paddingBottom30: 30px;
$paddingBottom40: 40px;
$paddingBottom50: 50px;

$paddingRight0: 0px;
$paddingRight5: 5px;
$paddingRight10: 10px;
$paddingRight12: 12px;
$paddingRight15: 15px;
$paddingRight20: 20px;
$paddingRight25: 25px;
$paddingRight30: 30px;
$paddingRight40: 40px;
$paddingRight50: 50px;

$margin0: 0px;
$margin0Auto: 0 auto;
$marginTop5: 5px;
$marginTop10: 10px;
$marginTop15: 15px;
$marginTop20: 20px;
$marginTop25: 25px;
$marginTop30: 30px;
$marginTop50: 50px;

$marginLeft0: 0px;
$marginLeft5: 5px;
$marginLeft10: 10px;
$marginLeft15: 15px;
$marginLeft20: 20px;
$marginLeft25: 25px;
$marginLeft30: 30px;

$marginBottom0: 0px;
$marginBottom5: 5px;
$marginBottom10: 10px;
$marginBottom15: 15px;
$marginBottom16: 16px;
$marginBottom20: 20px;
$marginBottom25: 25px;
$marginBottom30: 30px;
$marginBottom40: 40px;

$marginRight0: 0px;
$marginRight5: 5px;
$marginRight10: 10px;
$marginRight15: 15px;
$marginRight16: 16px;
$marginRight20: 20px;
$marginRight25: 25px;
$marginRight30: 30px;
$marginRight40: 40px;

$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;
$zIndex6: 5;
$zIndex6: 6;
$zIndex7: 7;
$zIndex8: 8;
$zIndex9: 9;
$zIndex10: 10;

$posTop0: 0;
$posBottom0: 0;
$posLeft0: 0;
$posRight0: 0;
$posTopM30: -30px;
$posTopM20: -20px;

$borderRadius0: 0;
$borderRadius4: 4px;
$borderRadius10: 10px;

$fontSize8: 8px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize36: 36px;

$borderBottom: 1px;
$borderTop6: 6px;
$borderTop8: 8px;
$borderRight1: 1px;

$boxShadow0: 0px;
$boxShadow4: 4px;
$boxShadow10: 10px;

$filterTop: 0px;
$filterRight: 4px;
$filterBottom: 4px;
