$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;

$basic-font-size: 100%;
$paragraph: 16px;


$line-height: 24px;


$authBg: #F7FAFF;
$greenColor: #B2E4D5;
$submissionReadColor: #1EB892;
$submissionNewColor: #FF6982;
$submissionNotFinishedColor: #F2994A;
$blueColor: #00A3FF;
$navbarColor: #262F3F;
$selectedNavbarColor: #333;
$upColor: #DBE2EA;
$tableEvenColor: #d0e1ea;
$whiteColor: #fff;
$lightBlue: rgba(12, 167.255, 0.08);
$textColor: #131924;
$titleColor: rgba(0, 0, 0, 0.6);

