.canvasStyle {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
}


.overViewEval {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overViewEvalFeedback {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: $fontSize14;
    font-weight: $fontWeight700;
    color: $navbarColor;
  }

  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-right: $marginRight10;
  }

  & > div {
    display: flex;
    align-items: center;
  }

}

.notEvalEmployes{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__link{
    color: $blueColor;
    font-size: $fontSize14;
    font-weight:$fontWeight500 ;
    &:hover{
      text-decoration: none;
    }
  }
}

.notEvalEmployies__text{
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
