.canvasStyle {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
}


.overViewEval {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overViewEvalFeedback {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: $fontSize14;
    font-weight: $fontWeight700;
    color: $navbarColor;
  }

  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-right: $marginRight10;
  }

  & > div {
    display: flex;
    align-items: center;
  }

}

.notEvalEmployes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__link {
    color: $blueColor;
    font-size: $fontSize14;
    font-weight: $fontWeight500;

    &:hover {
      text-decoration: none;
    }
  }
}

.notEvalEmployies__text {
  padding-bottom: $paddingBottom10;
  margin-bottom: $marginBottom16;
  border-bottom: 1px solid #ececec;
}

.rec.rec-carousel-wrapper {
  position: relative;
}


.rec.rec-carousel button:first-child {
  position: absolute;
  lefet: 0;
  top: -30px;
}

.rec.rec-carousel button:last-child {
  position: absolute;
  right: 30px;
  top: -30px;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
  background-color: red;
}

.rec .rec-arrow-left {
  position: absolute;
  top: -20px;
  left: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}


.sliderBox {
  width: 195px;
  height: 185px;
  background: $whiteColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: $boderRadius10;
  border-top: 6px solid $greenColor;
  text-align: center;


}
