.submission {

  .rec.rec-carousel-wrapper {
    position: relative;

  }

  .rec.rec-carousel > button:first-child {
    position: absolute;
    left: $posLeft0;
    top: 0;
  }

  .rec.rec-carousel > button:last-child {
    position: absolute;
    right: $posRight0;
    top: 0;
  }

  .rec.rec-carousel > button:disabled {
    visibility: hidden;
    margin-bottom: 30px;
  }

  .rec .rec-arrow-left {
    position: absolute;
    top: $posTopM20;
    left: $posLeft0;
    border: none;
    border-radius: $borderRadius0;
    background-color: transparent;
    box-shadow: none;
  }

  .rec.rec-slider-container {
    margin: $margin0;
  }

  .rec.rec-carousel-item > div {
    display: flex;
    justify-content: flex-start;
  }

  .rec-carousel .rec-item-wrapper {
    height: 260px;
  }

  .rec.rec-carousel {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}


.submission__quarterly {
  width: 270px;
  height: 251px;
  border-top: 8px solid transparent;
  border-radius: 10px 10px 0 0;
  background-color: $whiteColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 12px 10px 15px;

  &_categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $marginBottom5;


    p {
      font-size: $fontSize8;
      color: $tableBorderColor;
    }
  }

  &_evaluators {
    display: flex;
    justify-content: space-between;
    color: $greyColor;

  }


}

.border__color_red {
  border-top-color: $submissionNewColor;
}

.border__color_green {
  border-top-color: $submissionReadColor;
}

.border__color_orange {
  border-top-color: $submissionNotFinishedColor;
}

.status__color_red {
  color: $submissionNewColor;

}

.status__color_green {
  color: $submissionReadColor;
}

.status__color_orange {
  color: $submissionNotFinishedColor;
}

