.bg {
  background-color: $authBg;
  font-family: $body-font;
  height: 100vh;
}

.childThing {
  position: absolute;
  right: $posRight0;
  top: $posTop0;
  height: 100%;
  z-index: $zIndex2;

}

.authGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.auth {
  display: flex;
  z-index: $zIndex10;
  height: 100vh;
  position: relative;
  padding: $paddingTopBottom0 $paddingLeftRight50;

  &__bg {
    position: absolute;
    right: $posRight0;
    top: $posTop0;
    height: 100%;
    bottom: $posBottom0;
    z-index: $zIndex1;
  }

  &__title {
    min-height: 578px;
    border-radius: $borderRadius4;
    background-color: $whiteColor;
    z-index: $zIndex10;
    padding: $padding50;
    position: relative;
  }

  &__input_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: $marginBottom15;
  }

  &__title_text {
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: $marginBottom30;
  }


  &__forgot_pass {
    color: $blueColor;
    font-size: $fontSize14;
    font-weight: $fontWeight400;
    margin-top: $marginTop10;

    &:hover {
      font-weight: $fontWeight400;
      text-decoration: none;
    }
  }

}


.auth__box_right {
  max-width: 100%;
  z-index: $zIndex3;

  svg {
    max-width: 100%;
    width: 694px;
  }
}


.auth__passRecCheng {
  margin-bottom: $marginBottom30;

  h2 {
    margin-bottom: $marginBottom30;
  }
}

.auth__passRec {
  margin: $marginTop50 $marginLeft0 $marginBottom30 $marginLeft0;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.btnGroup {
  display: flex;

  button {
    margin-right: $marginRight40;
    width: 150px;
    height: 40px;
  }
}

.authChagePass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 411px;
  padding: $padding0;
  flex-direction: column;


  .auth__passRec {
    margin: $margin0;
    height: 175px;
  }
}


.auth__passResend {
  margin: $margin0;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

