.bg {
  background-color: $authBg;
  font-family: $body-font;
  height: 100vh;
}

.auth-right-bg {
  position: absolute;
  right: $posRight0;
  top: $posTop0;
  height: 100%;
  z-index: $zIndex2;
}

.auth__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.auth {
  display: flex;
  z-index: $zIndex10;
  height: 100vh;
  position: relative;
  padding: $paddingTopBottom0 $paddingLeftRight50;

  &__bg {
    position: absolute;
    right: $posRight0;
    top: $posTop0;
    height: 100%;
    bottom: $posBottom0;
    z-index: $zIndex1;
  }

  &__title {
    min-height: 578px;
    border-radius: $borderRadius4;
    background-color: $whiteColor;
    z-index: $zIndex10;
    padding: $padding50;
    position: relative;
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: $marginBottom15;
  }

  &__title-text {
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: $marginBottom30;
  }

  &__forgot-pass {
    color: $blueColor;
    font-size: $fontSize14;
    font-weight: $fontWeight400;
    margin-top: $marginTop10;

    &:hover {
      font-weight: $fontWeight400;
      text-decoration: none;
    }
  }
}

.auth__box-right {
  max-width: 100%;
  z-index: $zIndex3;

  svg {
    max-width: 100%;
    width: 694px;
  }
}

.auth__pass_rec-cheng {
  margin-bottom: $marginBottom30;
}

.auth__btn-group {
  display: flex;

  button {
    margin-right: $marginRight40;
    width: 150px;
    height: 40px;
  }
}

.auth__change-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 411px;
  padding: $padding0;
  flex-direction: column;
}

.auth__pass-resend {
  margin: $margin0;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
