.bg {
  background-color: $authBg;
  height: 100vh;
  position: relative;
  font-family: $body-font
}


.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-left: 60px;
    width: 608px;
    max-width: 100%;
    min-height: 578px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 10;
    padding: 50px 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  &__input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 170px;
  }


  &__title-text {
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__inner-text {
      font-size: 16px;
      font-weight: 400;
    }


  }


}

.auth__image {
  position: absolute;
  right: 0;
}

